<html>
<head>
    <link rel="stylesheet" href="${www.contextPath}/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="${www.contextPath}/assets/bootstrap-table/css/bootstrap-table.min.css">
</head>

<style type="text/css">
    .groupCheckBox {
        margin-right: 15px;
    }
</style>

<body>
<div id="toolBar">
    <button class="btn btn-info" id="openAddUserModal" title="新增用户"><span
            class="glyphicon glyphicon-plus"></span>新增
    </button>
</div>

<div style="width: 98%; margin: auto">
    <table id="userListTable"
    </table>
</div>

<!-- 新增用户模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="addUserForm">
                    <div class="form-group">
                        <label for="id" class="control-label">登录名</label>
                        <input type="text" name="id" placeholder="登录名..." class="id form-control" id="id">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">密码</label>
                        <input type="password" name="password" placeholder="密码..." class="password form-control"
                               id="password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="firstName">姓</label>
                        <input type="text" name="firstName" placeholder="姓..." class="form-control"
                               id="firstName">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="firstName">名</label>
                        <input type="text" name="lastName" placeholder="名..." class="form-control"
                               id="lastName">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">邮箱</label>
                        <input type="text" name="email" placeholder="邮箱..." class="form-control"
                               id="email">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addUserBtn">提交</button>
                <button type="button" class="btn btn-primary" id="editUserBtn" style="display: none;">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 设置用户组模态框（Modal） -->
<div class="modal fade" id="setGroupModal" tabindex="-1" role="dialog" aria-labelledby="setGroupModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="setGroupModalLabel">设置用户组</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="setGroupForm">
                    <input type="hidden" name="userId" id="userId" class="form-control"/>
                    <div id="groupCheckBox" class="checkbox">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="setGroupBtn">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="${www.contextPath}/assets/js/jquery-1.11.1.min.js"></script>
<script src="${www.contextPath}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="${www.contextPath}/assets/bootstrap-table/js/bootstrap-table.min.js"></script>
<script src="${www.contextPath}/assets/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript">
    $(function () {
    	$("#openAddUserModal").on("click", function () {
			$("#myModal").modal("show");
            $("#addUserBtn").show();
            $("#editUserBtn").hide();
            $("#myModalLabel").html($(this).attr("title"));
            $("#id").removeAttr("readonly");
        });

        $('#myModal').on('hide.bs.modal', function () {
            document.getElementById("addUserForm").reset();
        });

        $("body").delegate(".editUser","click", function(){
            var id = $(this).attr("uid");
            var title = $(this).attr("title");
            editUser(id, title);
        });

        //根据窗口大小调整table大小
        $(window).resize(function () {
            $('#userListTable').bootstrapTable('resetView', {
                height: tableHeight()
            })
        });

        $("#userListTable").bootstrapTable({
            method: 'post',
            contentType: "application/x-www-form-urlencoded",//必须要有！！！！
            url: "userList.htm",
            height: tableHeight(),//高度调整
            striped: true, //是否显示行间隔色
            pageNumber: 1, //初始化加载第一页，默认第一页
            pagination: true,//是否分页
            queryParams: queryParams,//请求服务器时所传的参数
            sidePagination: 'server',//指定服务器端分页
            pageSize: 10,//单页记录数
            pageList: [5, 10, 20, 30],//分页步进值
            showColumns: true,//是否显示内容列下拉框
            showRefresh: true,//是否显示刷新按钮
            clickToSelect: true,//是否启用点击选中行
//            toolbarAlign:'right',//工具栏对齐方式
            buttonsAlign: 'right',//按钮对齐方式
//            toolbar:'#toolbar',//指定工作栏
            locale: 'zh-CN',//中文支持,
            toolbar: "#toolBar",
            uniqueId: "id",      //每一行的唯一标识，一般为主键列
            columns: [
                {
                    title: '用户ID',
                    field: 'id',
                },
                {
                    title: '用户姓名',
                    field: 'lastName',
                    //列数据格式化
                    formatter: operateNameFormatter
                },
                {
                    title: '邮箱',
                    field: 'email'
                },
                {
                    title: '用户组',
                    field: 'groupList',
                    formatter: groupListFormatter
                },
                {
                    title: '操作',
                    width: 200,
                    formatter: operateFormatter
                }
            ],
            rowStyle: function (row, index) {
                var classes = ['success', 'info', 'warning', 'danger'];
                if (index % 2 === 0) {
                    return {};
                }
                var eg = index % 5;
                return {
                    classes: classes[eg]
                };
            }
        });
    });

    //请求服务数据时所传参数
    function queryParams(params) {
        return {
            //每页多少条数据
            pageSize: params.limit,
            //请求第几页
            pageStartIndex: params.offset
        }
    }

    /**
     * tableHeight函数
     * @returns {number}
     */
    function tableHeight() {
        //可以根据自己页面情况进行调整
        return $(window).height() - 180;
    }

    function operateNameFormatter(value, row, index) {
        if (typeof(row["firstName"]) != "undefined") {
            return row["firstName"] + (typeof(value) == "undefined" ? "-" : value);
        }
        return value;
    }

    function operateFormatter(value, row, index) {
        var id = row["id"];
        var html = "<button class='btn btn-primary editUser' uid='"+ id +"' title='编辑用户' >修改</button>";
        html += "<button style='margin-left: 10px;' class='btn btn-danger' onclick=deleteUser('" + id + "')>删除</button>";
        return html;
    }

    function groupListFormatter(value, row, index) {
        var userGroupList = row["groupList"];
        var userId = row["id"];
        var groupIds = [];
        var text = "设置用户组";
        if (userGroupList != null && userGroupList.length > 0) {
            text = userGroupList.length + "个组【";
            for (var j = 0; j < userGroupList.length; j++) {
                groupIds.push(userGroupList[j].id);
                if (j == 0) {
                    text += userGroupList[j].name;
                } else {
                    text += "，" + userGroupList[j].name;
                }
            }
            text += "】";
        }
        var html = '<button class="btn btn-info" data-value="' + userId + '" data-groupIds="' + groupIds.join(",") + '"  onclick=openSetGroupDialog(this)>';
        html += '<span  class="glyphicon glyphicon-wrench"></span>' + text + '</button>';
        return html;
    }

    function editUser(id, title) {
        var row = $("#userListTable").bootstrapTable('getRowByUniqueId', id);
        $("#myModal").modal("show");
        $("#addUserBtn").hide();
        $("#editUserBtn").show();
        $("#myModalLabel").html(title);

        $("#id").val(row['id']);
        $("#password").val(row['password']);
        $("#firstName").val(row['firstName']);
        $("#lastName").val(row['lastName']);
        $("#email").val(row['email']);

        $("#id").attr("readonly", "readonly");
    }

    /**
     * 删除用户
     */
    function deleteUser(id) {
        $.ajax({
            url: "deleteUser.htm",
            dataType: "json",
            data: {'id': id},
            type: "POST",
            success: function (data) {
                if (data.webResponse == "SUCCESS") {
                    alert("删除成功！");
                    $("#userListTable").bootstrapTable("refresh");
                } else {
                    alert(data.errorMsg);
                }
            }
        });
    }

    /**
     * 打开设置用户组modal
     */
    function openSetGroupDialog(element) {
        var userId = $(element).attr("data-value");
        var groupIds = $(element).attr("data-groupIds");
        var groupIdArr = groupIds.split(",");
        $("#userId").val(userId);
        $.ajax({
            url: "allGroup.htm",
            dataType: "json",
            type: "POST",
            success: function (data) {
                if (data.webResponse == "SUCCESS") {
                    if (data.groupList != null && data.groupList.length > 0) {
                        var checkbox = "";
                        for (var i = 0; i < data.groupList.length; i++) {
                            var groupId = data.groupList[i].id;
                            var groupName = data.groupList[i].name;
                            var isChecked = false;
                            for (var j = 0; j < groupIdArr.length; j++) {
                                if (groupIdArr[j] == groupId) {
                                    isChecked = true;
                                    break;
                                }
                            }
                            if (isChecked) {
                                checkbox += "<label class='groupCheckBox'><input type='checkbox' name='groupIds' value='" + groupId + "' checked>" + groupName + "</label>";
                            } else {
                                checkbox += "<label class='groupCheckBox'><input type='checkbox' name='groupIds' value='" + groupId + "'>" + groupName + "</label>";
                            }
                        }
                        $("#groupCheckBox").html(checkbox);
                    }
                    $("#setGroupModal").modal("show");
                } else {
                    alert(data.errorMsg);
                }
            }
        });
    }

    /**
     * 提交登录表单
     */
    $("#addUserBtn").on("click", function () {
        var param = $("#addUserForm").serialize();
        $.ajax({
            url: "saveUser.htm",
            dataType: "json",
            type: "POST",
            data: param,
            success: function (data) {
                if (data.webResponse == "SUCCESS") {
                    alert("用户添加成功");
                    $("#myModal").modal("hide");
                    $("#userListTable").bootstrapTable("refresh");
                } else {
                    alert(data.errorMsg);
                    $("#myModal").modal("hide");
                }
            }
        });
    });

    /**
     * 提交登录表单
     */
    $("#editUserBtn").on("click", function () {
        var param = $("#addUserForm").serialize();
        $.ajax({
            url: "updateUser.htm",
            dataType: "json",
            type: "POST",
            data: param,
            success: function (data) {
                if (data.webResponse == "SUCCESS") {
                    alert("用户信息修改成功");
                    $("#myModal").modal("hide");
                    $("#userListTable").bootstrapTable("refresh");
                } else {
                    alert(data.errorMsg);
                    $("#myModal").modal("hide");
                }
            }
        });
    });

    /**
     * 提交设置用户组表单
     */
    $("#setGroupBtn").on("click", function () {
        var groupIds = [];
        $("input[name='groupIds']:checked").each(function () {
            var checkValue = $(this).val();
            groupIds.push(checkValue);
        });
        $.ajax({
            url: "saveUserGroup.htm",
            dataType: "json",
            traditional: true,
            type: "POST",
            data: {'groupIds': groupIds, 'userId': $('#userId').val()},
            success: function (data) {
                if (data.webResponse == "SUCCESS") {
                    alert("用户设置用户组成功");
                    $("#setGroupModal").modal("hide");
                    $("#userListTable").bootstrapTable("refresh");
                } else {
                    alert(data.errorMsg);
                    $("#setGroupModal").modal("hide");
                }
            }
        });
    });
</script>

</body>
</html>