<link rel="stylesheet" href="${www.contextPath}/assets/bootstrap/css/bootstrap.min.css">

<div style="width: 95%;margin: auto; margin-top: 30px;">
    <table class="table table-bordered">
        <caption>已完成流程</caption>
        <tr>
            <th>流程定义Key</th>
            <th>流程定义名称</th>
            <th>流程创建时间</th>
            <th>流程完成时间</th>
            <th>查看流程图</th>
        </tr>
		#if($rows && $rows.size() > 0)
			#foreach($row in $rows)
                <tr>
                    <td>$!row.historicProcessInstance.processDefinitionId</td>
                    <td>$!row.historicProcessInstance.processDefinitionName</td>
                    <td>$!row.historicProcessInstance.startTime</td>
                    <td>$!row.historicProcessInstance.endTime</td>
                    <td>
                        <a class="trace" target="_blank" href='#' pid="$!{row.historicProcessInstance.processInstanceId}"
                           pdid="$!{row.historicProcessInstance.processDefinitionId}"
                           title="点击查看流程图">查看流程图</a>

                        <a target="_blank" title="点击查看流程图"
                           href='${www.contextPath}/diagram-test/viewImage.htm?processInstanceId=$!{row.historicProcessInstance.processInstanceId}'>
                            查看流程图</a>
                    </td>
                </tr>
			#end
		#else
            <tr>
                <td colspan="7" align="center" style="color: red">无运行中的签约流程</td>
            </tr>
		#end
    </table>
</div>

<script src="${www.contextPath}/assets/js/jquery-1.11.1.min.js"></script>
<script src="${www.contextPath}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="${www.contextPath}/assets/js/activiti/workflow.js"></script>


<script type="text/javascript">
    $(function () {
        // 跟踪
        $('.trace').each(function () {
            var e = $(this);
            var pdid = e.attr("pdid");
            var pid = e.attr("pid");
            var url = "http://localhost:8090/activiti-demo-web/diagram-viewer/index.html?processDefinitionId=" + pdid + "&processInstanceId=" + pid;
            e.attr("href", url);
        });
    });

    var ctx = "${www.contextPath}";
</script>